a {
  text-decoration: none;
  color: black;
}
li {
  list-style-type: none;
}
.section-title__hide {
  font-size: 0;
}
.wrap {
  width: 375px;
  height: 812px;
  box-sizing: border-box;
  background-color: #eeebe5;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
}
button {
  margin-left: 52px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.iphone-status-bar {
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 31px;
  margin-right: 12px;
}
.navigation-bottom {
  position: absolute;
  bottom: 0;
  width: 375px;
  height: 76px;
  z-index: 10;
  background: linear-gradient(#00bdb2, #c4e7b8);
}

.navigation-bottom ul {
  display: flex;
  height: 100%;
}

.navigation-bottom ul li {
  flex-grow: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
