.expensesManagement {
}
.expensesManagement > h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 35.52px;
  letter-spacing: -0.24px;
}

.expensesManagement > button {
  font-size: 14px;
  font-weight: 300;
  position: absolute;
}
